content/it/docs/80 Progetti/ProgettoMipaf/Registro di Carico e Scarico Sostanze Zuccherine/SpecificaXsd/wsmrgc.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Claudia Cipriani (FINSIEL SPA) -->
<xsd:schema targetNamespace="http://cooperazione.sian.it/schema/wsmrgc/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://cooperazione.sian.it/schema/wsmrgc/">
	<xsd:simpleType name="CodOperazione">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
			<xsd:enumeration value="OPGE"/>
			<xsd:enumeration value="SPZU"/>
			<xsd:enumeration value="SUZU"/>
			<xsd:enumeration value="SDZU"/>
			<xsd:enumeration value="SVZU"/>
			<xsd:enumeration value="CAZU"/>
			<xsd:enumeration value="CPZU"/>
			<xsd:enumeration value="GIZU"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdTrasmissione">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodProdotto">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="1"/>
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QtaKg">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodiceIcq">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[A-Za-z]{2}[0-9]{1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CancSoggSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Codice">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CancOperSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Codice">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SoggSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Codice">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OperSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Codice">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Sostanza">
		<xsd:sequence>
			<xsd:element name="CodiceSostanza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="1"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Qta" type="tns2:QtaKg"/>
			<xsd:element name="Lotto" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Note" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SvzuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumDoc" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DataDoc" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CodFornitore" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Scarico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CazuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumDoc" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DataDoc" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CodFornitore">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Carico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OpgeOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumDoc" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DataDoc" type="xsd:date" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="Acquirente">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="200"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodFornitore" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sostanza">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Carico" type="tns2:Sostanza"/>
						<xsd:element name="Scarico" type="tns2:Sostanza"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpzuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Scarico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SuzuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Scarico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SdzuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="Acquirente">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="200"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodFornitore" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Carico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CpzuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Carico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GizuOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodCommittente" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ContoTerzi" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>S=Se conto terzi, N=No</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="S"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Carico" type="tns2:Sostanza"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ControlloEsito">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodOperazione">
				<xsd:annotation>
					<xsd:documentation>codice identificativo dell'operazione</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Esito" type="tns2:Response"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminaOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodOperazione">
				<xsd:annotation>
					<xsd:documentation>codice identificativo dell'operazione</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Esito" type="tns2:Response"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperElimina">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodOperazione" type="tns2:CodOperazione">
				<xsd:annotation>
					<xsd:documentation>codice identificativo dell'operazione</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="VisSoggSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VisOperSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="DataOperIni" type="xsd:date"/>
				<xsd:element name="DataOperFine" type="xsd:date" minOccurs="0"/>
				<xsd:element name="CodiceSoggetto" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodOperazione" type="tns2:CodOperazione" minOccurs="0"/>
				<xsd:element name="Prodotto" type="tns2:CodProdotto" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OperSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="TipoRichiesta">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="1"/>
							<xsd:enumeration value="I"/>
							<xsd:enumeration value="A"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Operazione" type="tns2:OperazioneSpec" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Response">
		<xsd:sequence>
			<xsd:element name="codice">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="messaggio">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="500"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PersonaGiuridicaType"/>
	<xsd:simpleType name="CUAAPersonaGiuridica">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUAAPersonaFisica">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Za-z]{6}[0-9]{2}[A-Za-z]{1}[0-9]{2}[A-Za-z0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Soggetto">
		<xsd:sequence>
			<xsd:element name="CodiceSoggetto">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CodiceCUAA" type="tns2:CUAA" minOccurs="0"/>
			<xsd:element name="TipoSoggetto">
				<xsd:annotation>
					<xsd:documentation>IT=soggetto Italiano,UE=soggetto dell Unione Europea, EX=soggetto estero</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="2"/>
						<xsd:enumeration value="IT"/>
						<xsd:enumeration value="UE"/>
						<xsd:enumeration value="EX"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nome" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Cognome" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="RagioneSociale" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="150"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="IndirizzoSede" type="tns2:Indirizzo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Indirizzo">
		<xsd:sequence>
			<xsd:element name="CAP" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Indirizzo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="130"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Provincia" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Comune" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Stato">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CUAA">
		<xsd:choice>
			<xsd:element name="PersonaFisica" type="tns2:CUAAPersonaFisica"/>
			<xsd:element name="PersonaGiuridica" type="tns2:CUAAPersonaGiuridica"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="SoggSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="TipoRichiesta">
					<xsd:annotation>
						<xsd:documentation>I=inserimento,A=aggiornamento</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="I"/>
							<xsd:enumeration value="A"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Soggetto" type="tns2:Soggetto" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CancOperSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="OperElimina" type="tns2:OperElimina" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CancSoggSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="SoggettoElimina" type="tns2:SoggettoElimina" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SoggettoElimina">
		<xsd:sequence>
			<xsd:element name="CodiceSoggetto">
				<xsd:annotation>
					<xsd:documentation>numero progressivo univoco nell'ambito dell'Anagrafica fornitori e destinatari</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GetCancSoggSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetCancOperSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetOperSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetSoggSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdTrasmissione" type="tns2:IdTrasmissione"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetCancSoggSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="codOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="SoggettoOutput" type="tns2:SoggettoOutput" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetCancOperSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="8"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="EliminaOperazione" type="tns2:EliminaOperazione" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetOperSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="ControlloEsito" type="tns2:ControlloEsito" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GetSoggSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="Soggetto" type="tns2:SoggettoOutput" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SoggettoOutput">
		<xsd:sequence>
			<xsd:element name="CodiceSoggetto">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Esito" type="tns2:Response"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="VisSoggSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="codOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="DettaglioSoggetto" type="tns2:Soggetto" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VisOperSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="DettaglioOperazione" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="SDZU" type="tns2:SdzuOperazione"/>
							<xsd:element name="GIZU" type="tns2:GizuOperazione"/>
							<xsd:element name="CPZU" type="tns2:CpzuOperazione"/>
							<xsd:element name="CAZU" type="tns2:CazuOperazione"/>
							<xsd:element name="SVZU" type="tns2:SvzuOperazione"/>
							<xsd:element name="SUZU" type="tns2:SuzuOperazione"/>
							<xsd:element name="SPZU" type="tns2:SpzuOperazione"/>
							<xsd:element name="OPGE" type="tns2:OpgeOperazione"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VisProdSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="codOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="SituazioneGiacenza" type="tns2:SituazioneGiacenza" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SituazioneGiacenza">
		<xsd:sequence>
			<xsd:element name="Data" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="VisOperMancantiSiRSoZInput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq"/>
				<xsd:element name="DataOperIni" type="xsd:date"/>
				<xsd:element name="DataOperFine" type="xsd:date" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VisOperMancantiSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CodOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="DettaglioMancante" type="tns2:IdOperazione" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MovProdotto">
		<xsd:sequence>
			<xsd:element name="DataIni" type="xsd:date"/>
			<xsd:element name="DataFine" type="xsd:date" minOccurs="0"/>
			<xsd:element name="CodOperazione" type="tns2:CodOperazione" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>codice identificativo dell'operazione</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Prodotto" type="xsd:string" maxOccurs="10"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="VisProdSiRSoZOutput">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="codOper" type="tns2:CUAA" minOccurs="0"/>
				<xsd:element name="CodiceIcqrf" type="tns2:CodiceIcq" minOccurs="0"/>
				<xsd:element name="Esito" type="tns2:Response" minOccurs="0"/>
				<xsd:element name="DettaglioGiacenza" type="tns2:DettaglioGiacenza" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DettaglioGiacenza">
		<xsd:sequence>
			<xsd:element name="Prodotto" type="tns2:CodProdotto"/>
			<xsd:element name="QtaCarico" type="tns2:QtaKg"/>
			<xsd:element name="QtaScarico" type="tns2:QtaKg"/>
			<xsd:element name="QtaGiacenza" type="tns2:QtaKg"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdOperazione">
		<xsd:sequence>
			<xsd:element name="DataOperazione" type="xsd:date"/>
			<xsd:element name="NumOperazione">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OperazioneSpec">
		<xsd:choice>
			<xsd:element name="SDZU" type="tns2:SdzuOperazione"/>
			<xsd:element name="GIZU" type="tns2:GizuOperazione"/>
			<xsd:element name="CPZU" type="tns2:CpzuOperazione"/>
			<xsd:element name="CAZU" type="tns2:CazuOperazione"/>
			<xsd:element name="SVZU" type="tns2:SvzuOperazione"/>
			<xsd:element name="SUZU" type="tns2:SuzuOperazione"/>
			<xsd:element name="SPZU" type="tns2:SpzuOperazione"/>
			<xsd:element name="OPGE" type="tns2:OpgeOperazione"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
